.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig

Binaries/*
Plugins/**/Binaries/*

Build/*
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

*_BuiltData.uasset

Saved/*
Intermediate/*
Plugins/**/Intermediate/*
DerivedDataCache/*